<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Notification permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="EcoStay Retreat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- Updated theme -->

        <!-- Main Activity -->
        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false"/>
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false"/>
        <activity android:name=".ui.auth.ProfileActivity" android:exported="false"/>
        <activity android:name=".ui.rooms.RoomListActivity" android:exported="false"/>
        <activity android:name=".ui.rooms.RoomDetailActivity" android:exported="false"/>
        <activity android:name=".ui.activities.ActivityListActivity" android:exported="false"/>
        <activity android:name=".ui.activities.ActivityReserveActivity" android:exported="false"/>
        <activity android:name=".ui.info.InfoActivity" android:exported="false"/>
        <activity android:name=".ui.auth.BookingHistoryActivity" android:exported="false"/>

    </application>
</manifest>
